{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-8">
                <div id="posts" class="border mt-5 container-fluid rounded-3 p-5">
                    <h1 style="caption-side: top; color: #490030">Recent Activity</h1>
                </div>
                <div id="spinner1"></div>
            </div>
            <div class="col-xl-2">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let offset = 0;
        $(document).ready(function () {
            $.ajax({
                    type: "GET",
                    url: `http://localhost:8000/activity-feed-json/${offset}`,
                    beforeSend: function () {
                        $("#spinner").append(`<img width="50" height="50" src={% static 'instagram/ClassicImpureKagu-size_restricted.gif' %}>`)
                    },
                    complete: function () {
                        $("#spinner").hide()
                    },
                    success: function (posts) {
                        for (let post in posts){
                            $("#posts").append(`<div class="border mt-5 container-fluid rounded-3 p-5">
                                    <pre><img width="80" height="80" class="clearfix img-fluid rounded-circle mt-4" src=${posts[post]["profile_pic"]}>  ${posts[post]['publisher']}

Posted: ${posts[post]['date_posted']}
                                    </pre>
                                    <img class="mb-1" width="90%" src=${posts[post]['post']}>
                                    <p class="mt-4"><strong>${posts[post]['publisher']}:</strong>  ${posts[post]['caption']}</p>
                                </div>`
                            )
                        }
                        offset += 5
                    }
                })
        })
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() == $(document).height()){
                $.ajax({
                    type: "GET",
                    url: `http://localhost:8000/activity-feed-json/${offset}`,
                    beforeSend: function () {
                        $("#posts").append(`<img class='spinner1' width="50" height="50" src={% static 'instagram/ClassicImpureKagu-size_restricted.gif' %}>`)
                    },
                    complete: function () {
                        $(".spinner1").hide()
                    },
                    success: function (posts) {
                        for (let post in posts){
                            $("#posts").append(`<div class="border mt-5 container-fluid rounded-3 p-5">
                                    <pre><img width="80" height="80" class="clearfix img-fluid rounded-circle mt-4" src=${posts[post]["profile_pic"]}>  ${posts[post]['publisher']}

Posted: ${posts[post]['date_posted']}
                                    </pre>
                                    <img class="mb-1" width="90%" src=${posts[post]['post']}>
                                    <p class="mt-4"><strong>${posts[post]['publisher']}:</strong>  ${posts[post]['caption']}</p>
                                </div>`
                            )
                        }
                        initialize = false
                        offset += 5
                    }
                })
            }
        });
    </script>
{% endblock %}