{% extends 'instagram/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-8">
                <div id="posts" class="border mt-5 container-fluid rounded-3 p-5">
                    <h1 style="caption-side: top; color: #490030">Recent Activity</h1>
                </div>
                <div id="spinner1"></div>
            </div>
            <div class="col-xl-2">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static 'activity_feed_js.js'%}>
    </script>
{% endblock %}