{% extends 'instagram/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="border mt-5 container-fluid rounded-3 p-5">
                <span style="color: black">
                    {% for username in followers %}
                    <ul>
                        <li><a href="{% url 'profile' username %}" style="color: #490030">{{ username }}</a></li>
                    </ul>
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
{% endblock %}